@media (max-width: 640px) {
	#address-form-content {
		margin-top: 6rem;
		margin-left: -6rem;
	}
}

div#address-form {
	position: absolute;
	top: 10px;
	left: 100px;
	z-index: 99;

	margin-right: 100px;
}

div#address-form-content {
	background-color: rgba(255, 255, 255, .75);
}
