<!DOCTYPE html>
<html>
	<head>
		<title>Burrito Score</title>
		{# META #}
		{% block meta %}{% endblock %}

		{# CSS #}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		{% block css %}{% endblock %}
	</head>
	<body>

	{# CONTENT #}
	{% block content %}{% endblock %}

	{# JAVASCRIPT #}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	{% block javascript %}{% endblock %}

	</body>
</html>
